@import "../../globalStyles/utilities/mixins.scss";

.container {
  width: 100%;
  padding: 0 pxToRem(10);
  font-size: pxToRem(20);
  font-weight: 400;
  text-align: right;
  white-space: nowrap;
  overflow: auto;
}
